<ion-view title="首页" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-tabs class="tabs-balanced tabs-icon-only">

        <ion-tab title="Home" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
            <!-- Tab 1 content -->
            <ion-content class="has-header">

                <ion-list class="f_tabs">
                    <ion-item class="item item-avatar item-calm">
                        <img src="images/01.jpg?11">
                        <h2>不要点 </h2>
                        <p>这个列表无法点击的~~~~~</p>
                    </ion-item>
                    <ion-item class="item item-avatar item-calm">
                        <img src="images/03.jpg?11">
                        <h2>附近团购 </h2>
                        <p>附近团购那个列表可以点击~~</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/02.jpg?11">
                        <h2>鞋靴箱包 </h2>
                        <p>新品凉鞋/尖头鞋/红底鞋/糖果色/包贝壳包</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/03.jpg?11">
                        <h2>珠宝名品 </h2>
                        <p>珠宝/新品/手镯表/木饰/银月饼</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/01.jpg?11">
                        <h2>服饰内衣 </h2>
                        <p>秋装上新/夏装清仓/长袖衬衫/针织衫/人气套装</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/01.jpg?11">
                        <h2>服饰内衣 </h2>
                        <p>秋装上新/夏装清仓/长袖衬衫/针织衫/人气套装</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/02.jpg?11">
                        <h2>鞋靴箱包 </h2>
                        <p>新品凉鞋/尖头鞋/红底鞋/糖果色/包贝壳包</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/03.jpg?11">
                        <h2>珠宝名品 </h2>
                        <p>珠宝/新品/手镯表/木饰/银月饼</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/01.jpg?11">
                        <h2>服饰内衣 </h2>
                        <p>秋装上新/夏装清仓/长袖衬衫/针织衫/人气套装</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/01.jpg?11">
                        <h2>服饰内衣 </h2>
                        <p>秋装上新/夏装清仓/长袖衬衫/针织衫/人气套装</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/02.jpg?11">
                        <h2>鞋靴箱包 </h2>
                        <p>新品凉鞋/尖头鞋/红底鞋/糖果色/包贝壳包</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/03.jpg?11">
                        <h2>珠宝名品 </h2>
                        <p>珠宝/新品/手镯表/木饰/银月饼</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/01.jpg?11">
                        <h2>服饰内衣 </h2>
                        <p>秋装上新/夏装清仓/长袖衬衫/针织衫/人气套装</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/01.jpg?11">
                        <h2>服饰内衣 </h2>
                        <p>秋装上新/夏装清仓/长袖衬衫/针织衫/人气套装</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/02.jpg?11">
                        <h2>鞋靴箱包 </h2>
                        <p>新品凉鞋/尖头鞋/红底鞋/糖果色/包贝壳包</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/03.jpg?11">
                        <h2>珠宝名品 </h2>
                        <p>珠宝/新品/手镯表/木饰/银月饼</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/01.jpg?11">
                        <h2>服饰内衣 </h2>
                        <p>秋装上新/夏装清仓/长袖衬衫/针织衫/人气套装</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/01.jpg?11">
                        <h2>服饰内衣 </h2>
                        <p>秋装上新/夏装清仓/长袖衬衫/针织衫/人气套装</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/02.jpg?11">
                        <h2>鞋靴箱包 </h2>
                        <p>新品凉鞋/尖头鞋/红底鞋/糖果色/包贝壳包</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/03.jpg?11">
                        <h2>珠宝名品 </h2>
                        <p>珠宝/新品/手镯表/木饰/银月饼</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/01.jpg?11">
                        <h2>服饰内衣 </h2>
                        <p>秋装上新/夏装清仓/长袖衬衫/针织衫/人气套装</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/01.jpg?11">
                        <h2>服饰内衣 </h2>
                        <p>秋装上新/夏装清仓/长袖衬衫/针织衫/人气套装</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/02.jpg?11">
                        <h2>鞋靴箱包 </h2>
                        <p>新品凉鞋/尖头鞋/红底鞋/糖果色/包贝壳包</p>
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img src="images/03.jpg?11">
                        <h2>珠宝名品 </h2>
                        <p>珠宝/新品/手镯表/木饰/银月饼</p>
                    </ion-item>
                </ion-list>

            </ion-content>
        </ion-tab>

        <ion-tab title="About" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
            <!-- Tab 2 content -->
            <ion-content class="has-header">
                Tab 2 content
            </ion-content>
        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
            <!-- Tab 3 content -->
            <ion-content class="has-header">
                Tab 3 content
                </ion-content>
        </ion-tab>

    </ion-tabs>
</ion-view>
